JAXWS-wsgen/src/RandomNumberService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://endpoint/" xmlns:tns="http://endpoint/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getRandomNumber" type="tns:getRandomNumber"/>

  <xs:element name="getRandomNumberResponse" type="tns:getRandomNumberResponse"/>

  <xs:complexType name="getRandomNumber">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getRandomNumberResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

